#tituloPagina{
    margin-top:15px;
    margin-left:450px;
}

#titulo{
    font-size:26px;
}

.tableArea{
    display: inline-block;
    margin-left:25%;
}

.tabela{
    width: 200%;
    margin-top:50px;
    margin-left:40px;
    border-collapse: collapse;
}

.nomeColuna{
    font-size: 20px;
    border:1px solid black;
    padding: 15px;
}

.dadoColuna{
    border:1px solid black;
    padding:15px;
}






