.navbar{
    background: #78CEB4;
    height:auto;
    width: auto;
}

#anunciar{
    border-radius:8px;
    border: 0.5px solid black;
    background: white;
    position: absolute;
    top:2%;
    right:10%;
    padding:2px;
    height: 35px;
    width: 85px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#entrar{
    border-radius:8px;
    border: 0.5px solid black;
    background: white;
    position: absolute;
    top: 2%;
    right: 0.5%;
    padding:2px;
    height:35px;
    width: 85px;
    text-align: center;
    font-size:15px;
    font-weight: bold;
}

