#estado{
    height:30px;
    width: 460px;
}

.form-area{
    display: inline;

}

#usuario{
    display:inline-block;
    margin-left:50px;
    width: 90px;
    height:90px;
    background-color: white;
    border-color: white;
    border-radius:50%
}

#btn{
    border-radius:8px;
    height:75px;
    width: 250px;
    font-size:18px;
    text-align: center;
    font-weight:bold;
    background-color: white;
    padding:0.2 solid black;
}

#link{
    margin-left:15px;
}

.row{
    display:block;
    margin-left:300px;
    margin-bottom: 25px;
}

.col{
    display: inline-block;
    margin-right: 25px;
    
}

.labelForm{
    display: block;
    font-size:18px;
}

.input{
    height:22px;
    width: 450px;
    font-size:20px;
}

.btn-area{
    display:block;
    margin-top:50px;
    margin-left:600px;
}



