#aviso{
    margin-left:190px;
}

.fundo{
    background:white;
}

.lbl{
    display: inline-block;
    margin-left: 45%;
    margin-right :45%;
    margin-top:2%;
    font-size:16px;
}

.checkbox{
    margin-left: 200px;
    margin-bottom: 10px;
}

.inputText{
    font-size: 16px;
    text-align: center;
    display: block;
    margin-left:15%;
    margin-right:15%;
    width: 65%;
    height: 38px;
}

.aut-form{
    display:block;
    height: auto;
    width:550px;
    height: 550px;
    background: #78CEB4;
    margin-top:5%;
    margin-left:30%;
    margin-right:30%;
    margin-bottom: 5%;
}

.senha{
    display:block;
    margin-top:1%;
    margin-left:35%;
    margin-right:auto;
}


.btnForm{
    font-size:16px;
    background:white;
    padding:2px;
    display:block;
    margin-top:1%;
    margin-left:22%;
    margin-right: auto;
    text-align: center;
    height: 60px;
    width: 300px;;
}

#logo{
    display:inline;
    margin-left: 28%;
    margin-right:auto
}