#UserBar{
    position: absolute;
    background-color: #78CEB4;
    height:100%;
    width: 25%;   
}

#imageArea{
    display: inline-block;
}

#nomeUsuario{
    position: static;
    font-weight: bold;
    margin-left:50%;
    margin-top:10px;
}

#fotoUsuario{
    display: inline-block;
    height: 125px;
    width: 175px;
    border-radius: 50%;
    margin-left:35%;
    margin-top:40px;
}



#linkArea{
    display: inline-block;
    margin-top:30px;
    margin-left:50px;
}

.btnComponent{
    display: block;
    margin-top: 25px;
    background: none;
    border :none;
    cursor: pointer;
    font-size: 16px;
}





