p{
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}

#UserBar{
    position: absolute;
    background-color: #78CEB4;
    height:100%;
    width: 25%;   
}

#imageArea{
    display: inline-block;
}

#nomeUsuario{
    position: static;
    font-weight: bold;
    margin-left:50%;
    margin-top:10px;
}

#fotoUsuario{
    display: inline-block;
    height: 125px;
    width: 175px;
    border-radius: 50%;
    margin-left:35%;
    margin-top:40px;
}

#fotoUsuarioForm{
    display:inline-block;
    margin-left:50px;
    width: 90px;
    height:90px;
    background-color: white;
    border-color: white;
    border-radius:50%
}

#linkArea{
    display: inline-block;
    margin-top:30px;
    margin-left:50px;
}

.btnComponent{
    display: block;
    margin-top: 25px;
    background: none;
    border :none;
    cursor: pointer;
    font-size: 16px;
}

.anuncioAreaUser{
    display: inline-block;
    margin-left: 25%;
}

.anuncioUser{
    display: inline-block;
    margin-left:75px;
    margin-right:25px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border:1px solid black;
}

.imagemAnuncio{
    height: 150px;
    width: 250px;
    align-content: center;
}



.formArea{
    position: absolute;
    display: block;
    margin-top: 50px;
    margin-left: 10%;
}

.row{
    display:block;
    margin-left:300px;
    margin-bottom: 25px;
}

.col{
    display: inline-block;
    margin-right: 25px;
    
}

.labelForm{
    display: block;
    font-size:18px;
}

.input{
    height:22px;
    width: 450px;
    font-size:20px;
}
