.pagina{
    display: inline-block;
}

.col{
display: inline-block;
margin-top: 50px;
margin-left:850px;
}

.label{
font-size:20px;
font-weight: bold;
}

.btnArea{
    display: inline-block;
    margin-top:15px;
    margin-left: 850px;
}

.btn{
    display:inline-block;
    margin-left:0px;
    margin-right:50px;
    height:60px;
    width: 250px;
}

.detalheAnuncio{
    text-align: left;
    margin-top:5px;
    font-size: 24px;
    font-weight: normal;
}

.avaliacaoArea{
    display: inline-block;
}

input[type = "radio"]{
    display: none;
}
.avaliacao{
    background-color: gray;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    margin-right:10px;
}

.imageAnuncio{
    position: absolute;
    top: 110px;
    left: 60px;
    height: 550px;
    width: 650px;
}

#Anuncio{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

#usuario{
    position: absolute;
    top:700px;
    left:0px;
    height: 75px;
    width: 85px;
    border-radius: 50%;
    display: inline-block;
}

#nomeUsuario{
    font-size:20px;
    display: inline-block;
    position: absolute;
    bottom: 7px;
    left:150px;
}