.navbar{
    background: #78CEB4;
    height:auto;
    width: auto;
}

#anunciar{
    border: 0.5px solid black;
    background: white;
    position: absolute;
    top:2%;
    right:7%;
    padding:2px;
    height: 35px;
    width: 85px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#usuario{
    cursor: pointer;
    border-radius: 50px;
    background-color: black; 
    position: position absolute;
    top:2%;
    right: 2%;
}

#placeholder{
    cursor: pointer;
    border-radius:50px;
    position:absolute;
    top: 1%;
    right: 2%;
    height: 50px;
    width: 50px;
    background-color: darkgrey;
}